= content_for :head do
  %title Free Stock Photos That Don't Suck

.jumbotron.tds-topic.background-pattern-0
  .container
    %h1 
      %span.tds-shadows Free Stock Photos 
      That Don't Suck
    %p 
      Optional sub description of topic so people have a better idea what to look for.

    .row
      .col-lg-3
        .panel.panel-default
          .panel-heading Asked for By #{link_to("Super Crazy Long Named Person", "#users/Super-Crazy-Long-Named-Person")}
          .panel-body
            %ul.list-group
              %li.list-group-item
                %span.badge 14
                Suggestions
              %li.list-group-item
                %span.badge 2
                Favorites
              %li.list-group-item
                %span.badge 5
                Contributors

.container
  .row
    .panel.panel-info#add-suggestion
      .panel-heading
        %a.btn.btn-info{"data-target" => "#add-suggestion-form", "data-toggle" => "collapse"} 
          %h2 Add Suggestion &#187;
      .panel-body.collapse#add-suggestion-form
        %form
          .form-group
            %label.control-label{for: "title"} Title
            %input#title.form-control{placeholder: "'Cool Website', 'Awesome Recipe', etc."}
          .form-group
            %label.control-label{for: "url"} URL
            %input#url.form-control{placeholder: "URL for suggestion", type: "url"}
          .form-group
            %label.control-label{for: "description"} Description
            %textarea#description.form-control{placeholder: "Describe why and/or your suggestion doesn't suck", rows: "4", maxlength: "250"}
          .form-group
            %button.btn.btn-default{type: "submit"} Add Suggestion
    = 2.times do
      .panel.panel-default#topic-name-number
        .panel-heading
          %h2
            %span.badge.alert-success.tds-topic-badge 14 
            #{link_to "Suggestion #1", "external_link", target: "blank"} 
          %small #{link_to("Super Crazy Long Named Person", "#users/Super-Crazy-Long-Named-Person")}
          %br
          %button.btn.btn-success{type: "submit"} Vote Up
          %button.btn.btn-danger{type: "submit"} Vote Down
        .panel-body
          %p Description from suggester about why they think this is a good suggestion.
          %p
            %button.btn.btn-default{"data-target" => "#suggestion_1_comments", "data-toggle" => "collapse", type: "button"} View Comments (4) &#187;
            #suggestion_1_comments.collapse
              = 4.times do
                %p.tds-topic-suggestion-comment This is a comment from a person. 
                %small - #{link_to("Super Crazy Long Named Person", "#users/Super-Crazy-Long-Named-Person")} - 04/27/2014 - 3:37 pm
                %hr

              %form
                .form-group
                  .row
                    .col-lg-3
                      %textarea.form-control{rows: "3"}
                .form-group
                  %button.btn.btn-success.tds-topic-comment{type: "submit"} Comment

